.idcard-head{padding:33px 23px;color: #000000; }
.idcard-h1{ font-size:14px; font-weight: bold; margin-bottom: 8px; }
.idcard-head p {line-height: 24px; font-size:14px; }
.idcard-tip{ color: #818181;}
.idacrd-img{margin: 30px auto;height:173px; width:270px;}
