.loading-head{width: 71pt; height: 65pt;margin: 0px auto; margin-top: 146px;}
.loading-head img{width: 100%;}
.loading-tip{ margin-top: 45px; text-align: center; width: 100%; overflow: hidden; font-size: 15px;}
.loading-pie{width: 20px; height: 20px;}
.loading-tip img{ width: 20px; height: 20px;}
.loading-font{ position: relative; top:1.5px; left: 4px; line-height: 20px;}

